
{% extends "main.html" %}

<!-- Content -->
{% block content %}
  <h1>Humm... il n'y a rien du tout ici!</h1>
  <p>
    Vous vous êtes peut être perdu dans nos pages, à moins qu'un lien ne vous ait amené ici. Si tel est le cas, nous serions heureux que vous nous disiez lequel. 
    <br/>
    <br/>Si vous pensez qu'un lien est cassé dans notre documentation, vous pouvez cliquer sur <a href="#">ce lien</a> pour nous rentrer un ticket de bug. 
  </p>
{% endblock %}