{% extends "main.html" %}


<!-- On ne suprime pas le menu, mais seulement en mode bureau -->
{% block tabs %}
{{super()}}
<style>
.md-sidebar--primary
{
    display:none;
}
@media screen and (max-width: 76.1875em) 
{
    .md-sidebar--primary
    {
        display:block;
    }      
}
</style>
{% endblock %}


<!-- Content -->
{% block content %}
<!-- Formattage du Header du blog post -->
{% if page.meta.image %}
<img src="{{page.meta.image}}"/><br/>
{% endif%}
<i>Billet écrit par {{ page.meta.author }}</i> ({{ page.meta.date }})<br/>
{{ super() }}

{% endblock %}
