
{% extends "main.html" %}

{% block tabs %}
{{super()}}
<style>
.teal 
{
    background-color: teal;
    color: white;
}

.hero
{
    padding: 44px 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14pt;
}

.hero h1 { margin-bottom: 0px;}
.hero h3 { margin-top: 0px; font-style: italic; font-weight: 400; }


.hero-single
{
    padding: 0px;
    width: 680px;
}

.hero-left
{
    text-align: right;
    padding: 0px;
    margin-right:24px;
    max-width: 480px;
}

.hero-right
{
    padding: 0px;
    margin-left:24px;
    max-width: 480px;
}


@media screen and (max-width: 900px) {
    .hero
    {
        padding: 44px 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 12pt;
    }
    .hero img
    {
        scale: 80%;
    }
}

</style>
<script>
    
    var messages = 
    [
        "Un site gentil qui pense à vous ",
        "... et le libre réemploi aussi !",
        "Jardinage et partage autour du numérique",
        "Arrêtez de jeter vos ordinateurs!",
        "Votre smartphone vous dira merci :)",
        "Vous avez pensé à ne pas racheter ?",
        "Ou comment s'émanciper du techno-capitalisme",
        "Sortez de votre techno-cocon"
    ]
    
    function rndMessage()
    {
        let c = messages.length;
        let index = Math.random() * (c-0.0001)
        let message = messages[Math.floor(index)]
        var f = document.getElementById("accroche");
        f.innerHTML = message;
    }
    
    window.onload=rndMessage;

</script>
<div class="hero teal">
    <div class="hero-single">
        <img src="images/lukasz-adam-desktop-1.svg" width="480"/>
        <h1>Le Numérique<br/>À Tous&middot;tes, Pour Tous&middot;tes !</h1>
        <h3 id="accroche"> :)</h3>                
    </div>
</div>
<div class="hero">
    <div class="hero-left">
        <h1>(re)Prenez le contrôle</h1>
        <p> Bienvenue au libre emploi!</p>
        <p> Ici, on vous confectionne toute une bibliothèque d'articles et de capsules accessibles et pratiques afin de ne plus subir les aléas de nos appareils numériques.</p>
        <p> Ordinateurs, portables ou smartphones : on vous a concocté un fourre-tout pour apprendre, comprendre et réparer vous-même, et faire durer vos appareils, tout en bravant l'obsolescence toujours plus programmée.</p>
    </div>
    <div class="hero-right">
        <img src="images/lukasz-adam-website-builder.svg" width="320"/>
    </div>
</div>
<div class="hero teal">
    <div class="hero-left">
        <img src="images/logo.svg" style="filter: invert();" width="320"/>
    </div>
    <div class="hero-right">
        <h1>Libre... Emploi?</h1>
        <p> On parle souvent de <b>ré-emploi</b> pour nos objets numériques, mais moins de leur usage premier : leur <b>emploi</b>.</p>
        <p>Le Libre Emploi se veut un lieu de communs numériques où l'on apprend, comprend et partage des informations de manière simple et accessibles au grand nombre, afin de garder le contrôle sur nos appareils. </p>
        <p>Avoir le contrôle, c'est se préserver de <b>l'obsolescence programmée</b>, des systèmes privateurs, et être en capacité de réparer, améliorer et entretenir nos appareils. </p>
        <p>Avoir le contrôle, c'est devenir acteur d'un monde qui se bat contre les déchets électroniques, l'oppression numérique et le techno-féodalisme, toujours plus à l'oeuvre aujourd'hui pour nous aliéner et nous rendre consommateurs impuissants.</p>
    </div>
</div>

{% endblock %}

<!-- Content -->
{% block content %}

{% endblock %}